<h1> Sign In </h1>

<form action="<%=session_url%>" method="post">
  <%= form_auth_token %>
  <label for="username">Username:</label>
  <input id="username" type="text" name="session[username]">
  <br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="session[password]">

  <button>Sign In</button>
</form>

<a href="<%=new_user_url%>">Create a New Account</a>
